body{
    background:#fff;
}

#wrapper{
    width:60%;
    float: right;
}

#recipe{
    width: 500px;
    height: 200px;
    
    border-right: 1px solid coral;
    border-left:1px solid coral;
    float:left;
    margin: 20px ;
}

#title{
    height: 50px;
    background:salmon;
    color:yellow;
    font-family: cursive;
    font-size: 18px;
    font-weight: 800;
    padding: 10px;
    text-align: left;
    /*border-radius:20px 0px 0 0; */
}



#img-box{
    height: 80px;
    width: 80px;
    border: 5px solid #ddd;
    float: left;
}

#recipe-body{
    height: 110px;
    background:#fff;
    color:slategray;
    padding:10px;
    
}

#ingredients{
    font-family: monospace;
    font-size: 18px;
    
}

#read-more{
    float:right;
    color: slateblue;
}

.btn-edt-del{
    color:slategray;
     float:right;
     margin:5px;
     cursor: pointer;
    
}

 
   .btn-edt-del:hover{
       color:black;
   }

#footer{
    height: 40px;
    background:#fff;
    border-bottom: 2px solid coral;
}